annotated-doc
fastapi
httptools
psycopg2-binary
python-dotenv
sqlalchemy
starlette
typing-inspection
uvicorn
watchfiles
websockets
pydantic-settings
livekit-agents
livekit-plugins-deepgram
livekit-plugins-google
livekit-plugins-groq
livekit-plugins-silero
httpx
requests